body {
  text-align: center;
  font-family: "Helvetica"
}

.menu {
background-image: url("../../resources/images/the-flatiron-building.png");
color: white;
}

#btmmenu {
  list-style-type: none;
  margin:0;
  padding:0;
  background-color: dimgray;
  text-align: left;
}

#btmmenu li, a{
  color: yellow;
  display:inline;
}

#btmmenu #copyright {
  color:white;
  font-size: 11px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

li {
  font-size: 18px;
}

#nav a, ul {
   color: white;
   font-size:18px;
   text-align: center;
   list-style-type: none;
 }


 h2 {
   color:grey;
 }

 h3 {
   font-size: 23px;
 }
